body {
  border: 1px;
  color: black;
  margin-top: 10px;

  background-image: url(http://www.planwallpaper.com/static/images/colorful-triangles-background_yB0qTG6.jpg);
}

#add-btn {
  padding: 0;
  margin: auto;
  float: right;
  margin-right: 80px;
  height: 30px;
  width: 10%;
  border-bottom-right-radius: 20px;
  border-top-left-radius: 20px;
  background-color: gray;
  color: white;
  cursor: pointer;
}
span {
  margin-left: 30%;
}

nav {
  max-width: 960px;
  mask-image: linear-gradient(
    90deg,
    rgba(255, 255, 255, 0) 0%,
    rgb(161, 15, 15) red rgba(255, 255, 255, 0) 100%
  );
  margin: 0 auto;
  padding: 50px 0;
}

nav ul {
  text-align: center;
  background: linear-gradient(
    90deg,
    rgba(255, 255, 255, 0) 0%,
    rgba(255, 255, 255, 0.2) 25%,
    rgba(255, 255, 255, 0.2) 75%,
    rgba(255, 255, 255, 0) 100%
  );
  width: 100%;
  box-shadow: 0 0 25px rgba(0, 0, 0, 0.1),
    inset 0 0 1px rgba(255, 255, 255, 0.6);
}

nav ul li {
  display: inline-block;
}

nav ul li a {
  padding: 20px;
  font-family: "Roboto";
  color: rgba(0, 0, 0, 0.5);
  text-shadow: 1px 1px 1px rgba(191, 158, 233, 0.4);
  font-size: 25px;
  text-decoration: none;
  display: block;
}

nav ul li a:hover {
  box-shadow: 0 0 10px rgba(175, 11, 11, 0.1),
    inset 0 0 1px rgba(253, 5, 5, 0.6);
  background: rgba(15, 12, 231, 0.1);
  color: rgba(0, 0, 0, 0.7);
}

#delete-btn {
  padding: 0;
  margin: 0;
  float: right;
  margin-right: 30%;
  height: 30px;
  width: 10%;
  border-bottom-right-radius: 20px;
  border-top-left-radius: 20px;
  background-color: gray;
  color: white;
}
p {
  text-align: center;
  justify-content: center;
  margin: auto;
  padding: 10px;
  border: 1px solid green;
  border-bottom-right-radius: 20px;
  border-top-left-radius: 20px;
}
#Happy {
  text-align: center;
  margin: auto;
}

#save-btn {
  padding: 0;
  margin: 0;
  outline: none;
  border: 0;
  margin-right: 30%;
  height: 30px;
  width: 10%;
  border-bottom-right-radius: 20px;
  border-top-left-radius: 20px;
  background-color: gray;
  color: white;
}
#cancel-btn {
  padding: 0;
  margin: 0;
  margin-right: 30%;
  outline: none;
  border: 0;
  height: 30px;
  width: 10%;
  border-bottom-right-radius: 20px;
  border-top-left-radius: 20px;
  background-color: gray;
  color: white;
  cursor: pointer;
}
#cancel-btn:hover {
  padding: 0;
  margin: 0;
  margin-right: 30%;
  height: 30px;
  width: 10%;
  border-bottom-right-radius: 20px;
  border-top-left-radius: 20px;
  background-color: gray;
  background-color: red;
  cursor: pointer;
}
#save-btn:hover {
  padding: 0;
  margin: 0;
  margin-right: 30%;
  height: 30px;
  width: 10%;

  border-bottom-right-radius: 20px;
  border-top-left-radius: 20px;
  background-color: gray;
  background-color: red;
  cursor: pointer;
}
#delete-btn:hover {
  padding: 0;
  margin: 0;
  margin-right: 30%;
  height: 30px;
  width: 10%;
  border-bottom-right-radius: 20px;
  border-top-left-radius: 20px;
  background-color: gray;
  background-color: red;
  cursor: pointer;
}

.span-P {
  display: flex;
  display: block;
}
#title {
  position: relative;
}
#cate {
  position: relative;
}

.text-area {
  margin: auto;
  padding: 0;
  text-align: center;
  float: center;
}
textarea {
  width: 80%;
  background-color: tomato;
  border-bottom-right-radius: 20px;
  border-top-left-radius: 20px;
  margin-right: 80px;
}
h3 {
  font-size: 32px;
}
